$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// usage: ?theme=dark-[ff/chrome]. see scripts/controllers/header.coffee
// specifying browser is totally lame, but I don't want to fight with this anymore
html.theme-dark-ff, html.theme-dark-chrome {
  //filter: invert(100%); // you'd like that, wouldn't you. broken in both ff and ie
  // http://stackoverflow.com/questions/19686153/css-filter-invert-not-working-on-mozilla-firefox
  //-webkit-filter: url("#theme-dark");
  filter: url("../theme-dark.svg#theme-dark");
  -ms-filter: invert(100%);
  height:100%;
}
html.theme-dark-ff {
  // firefox! y u no invert background color?
  background-color:black;
}

td.upgrade-indicator {
  width:2em;
}
td.upgrade-indicator + td {
  padding-left:0;
  margin-left:0;
}
td.upgrade-indicator, td.upgrade-indicator .glyphicon {
  padding-right:0;
  margin-right:0;
}
.unit-table td {
  white-space:nowrap;
}
.unit-table tr:first-child td {
  border:0;
}
.unit-table tr {
  cursor:pointer;
}
.unit-sidebar {
  width:100%;
  display:inline-block;
  position:relative;
}
.unit-sidebar .unit-count {
  position:absolute;
  top:0px;right:6px;
}
// a list-group + grid-row. padding/margins on these fight each other; fix it by hand.
.unit-list {
  margin-top: 10px;
}
.unit-list li.list-group-item.row {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// next-nowrap is in the docs, but doesn't work.
.text-nowrap {
  white-space: nowrap;
}
// achievement notification ui
.achievealert {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}
.achieve {
  text-align:center;
}
.achieve h3 {
  margin-top:0px;
  margin-bottom:0px;
  font-weight:bold;
  padding-left:1em;
  padding-right:1em;
}
.achieveicon, .achievepoints {
  @extend .hidden-xs;
  font-size:400%;
  font-weight:bold;
}
.achieveicon-xs, .achievepoints-xs {
  @extend .visible-xs;
  font-size:100%;
  font-weight:bold;
}
.achieveicon, .achieveicon-xs {
  position:absolute;left:15px;top:15px;
}
.achievepoints, .achievepoints-xs {
  position:absolute;right:15px;top:15px;
}
.achievedesc {
}
.achievetext {
  position:relative;
  margin-bottom: 0px;
}

// system-clock hack detection message
.nogutter {
  padding: 0;
}
.row.nogutter {
  margin-left: 0;
  margin-right: 0;
}

.cheater {
  color: red;
  font-weight:bold;
}

// unit names + counts must be exactly one line.
// https://github.com/erosson/swarm/issues/41
.unitgroup .badge {
  // float:right
  position:absolute;top:0;right:0;
  margin:10px 15px
}
.unitgroup .unitlabel {
  white-space:nowrap;
}
// they're not real links
.unitgroup a {
  cursor:pointer;
}
// animations from ng-if docs: https://docs.angularjs.org/api/ng/directive/ngIf
.animif.ng-enter, .animif.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animif.ng-enter,
.animif.ng-leave.ng-leave-active {
  opacity:0;
}

.animif.ng-leave,
.animif.ng-enter.ng-enter-active {
  opacity:1;
}

.statistics td.name {
  text-transform: capitalize;
  //text-align: right;
}
// changelog release dates. <h4>0.0.1<span>2009/09/09</span></h4>
.changelog h4 span {
  @extend .small;
  @extend .text-muted;
  @extend .pull-right;
}
.resetalert {
  color: red;
  font-weight: bold;
}
.envalert,
// override stupid navbar color
.envalert.navbar-brand {
  text-transform: uppercase;
  color: red;
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6, .titlecase, .statistics dt, .statistics th {
  text-transform: capitalize;
}
input[type="number"] {
  width:4em;
}
button.unit-buy {
  border-radius:0.5em;
}
.costNotMet, li.costNotMet a {
  color:grey;
}
li.costNotMet {
  background:#ddd;
  border-radius:0.5em;
}
.unitgroup {
  border:1px solid black;
  border-radius:0.5em;
}


////////////////////////////
// builtins
////////////////////////////
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* https://docs.angularjs.org/api/ng/directive/ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
