.title {
  color: #337ab7;
  text-decoration: none;
  font-size: 30px;
  font-family: inherit;
}
.title:hover {
  color: #226197;
  text-decoration: underline;
}
.card {
  background-color: #f5f5f5 !important;
  margin: 10px 0 30px 0;
}
.margin_left {
  margin-left: 20px;
}
.margin_bottom {
  margin-bottom: 50px;
}
.aTagColor {
  color: #23527c;
  text-decoration: none;
  cursor: pointer;
}
.aTagColor:hover {
  color: #23527c;
  text-decoration: underline;
}