<?xml version="1.0" encoding="UTF-8" ?>
  <!-- phonegap config. -->
  <widget xmlns   = "http://www.w3.org/ns/widgets"
      xmlns:gap   = "http://phonegap.com/ns/1.0"
      xmlns:android   = "http://schemas.android.com/apk/res/android"
      id          = "org.erosson.swarmsim"
      versionCode = "1" 
      version     = "0.0.1" >

  <name>Swarm Simulator</name>

  <description>
    An incremental game. Starting with just a few larvae and a small pile of meat, grow a massive swarm of giant bugs.
  </description>

  <author href="http://github.com/erosson/swarm" email="swarmsim@erosson.org">
    Evan Rosson
  </author>

  <!-- open reddit in the device's real browser. http://stackoverflow.com/questions/14070841/phonegap-open-link-in-browser -->
  <access origin="http://127.0.0.1*" />

  <icon src="icon.png" />
  <gap:splash src="splash.png" />

  <gap:platform name="android" />
  <!-- http://stackoverflow.com/questions/8697295/are-all-those-permissions-needed-by-phonegap-on-android -->
  <preference name="permissions" value="none" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</widget>
