<tabs></tabs>

<h2 class="contact-title">Contact the Swarm Simulator developer</h2>

<p><a class="btn btn-link" target="_blank" href="https://swarmsim.github.io/#/export">Did you play on the old website, swarmsim.github.io, and you're looking for your saved progress?</a></p>

<div class="well">
  <p>Please email me if you're having trouble with a crystal purchase, or if you're reporting an exploitable bug.</p>
  <p>For most other topics, <b>I probably won't reply.</b></p>
  <p>Swarm Simulator is run in one human's free time. I love you and your feedback, I really do - but email is stressful, and takes more of my limited time than you think.</p>
  <p><a target="_blank" ng-href="{{mailtoUrl()}}">{{emailTo()}}</a></p>
</div>
