<div class="form-group">
  <label for="playfab-login-email">Email</label>
  <input type="text" id="playfab-login-email" name="playfab-email" ng-model="form.email" class="form-control">
  <div>{{error.email}}</div>
</div>
<div class="form-group">
  <label for="playfab-login-password">Password</label>
  <input type="password" id="playfab-login-password" name="playfab-password" ng-model="form.password" class="form-control">
  <div>{{error.password}}</div>
</div>
<div>{{error.main}}</div>
<label>
  <input type="checkbox" id="playfab-login-remember" name="playfab-remember" ng-model="form.remember">
  <label for="playfab-login-remember">Remember me</label>
</label>
<button type="submit" class="btn btn-info form-control" ng-click="runLogin()">Log in</button>

<a href="javascript:" ng-click="setActive('forgot')">Forgot your password?</a>
