<p>Clone {{ upgrade.effect[0].output() | longnum }} new larvae.</p><p>You produce {{ game.unit('larva').velocity().times(options.velocityUnit().mult) | longnum }} larvae per {{options.velocityUnit().label}}, allowing you to clone up to
<span ng-if="game.unit('cocoon').isVisible() && game.unit('cocoon').count().greaterThanOrEqualTo(upgrade.effect[0].cap())">{{ upgrade.effect[0].cap() | longnum }} larvae.</span>
<span ng-if="!(game.unit('cocoon').isVisible() && game.unit('cocoon').count().greaterThanOrEqualTo(upgrade.effect[0].cap()))">
  <a ng-href="#{{game.unit('cocoon').url()}}?num=%40{{upgrade.effect[0].cap().minus(game.unit('cocoon').count())|ceil|encodeURIComponent}}">{{ upgrade.effect[0].cap() | longnum }} larvae</a>.
</span>
You have {{ upgrade.effect[0].bank() | longnum}} larvae and cocoons available to clone.</p>
