<p title="Coffee is consumed to restore energy.">Energy is consumed to use special abilities.</p>

<div class="progress" style="margin-bottom:0">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{unit.count()}}" aria-valuemin="0" aria-valuemax="{{unit.capValue()}}" ng-style="{width:unit.capPercent().times(100)+'%'}">
    {{unit.capPercent()|percent:{floor:true} }}, {{unit.capDurationMoment()|duration}}
  </div>
</div>
<p>{{unit.count()|longnum:0}} / {{unit.capValue()|longnum:0}} {{unit.unittype.label}}</p>

<p><a href="#/unit/crystal">Need more energy?</a></p>

<!--buyunit-input unit="game.unit('mtxEnergy')"></buyunit-input-->
