<tabs></tabs>

<h2><b>{{game.achievementPoints() | longnum}}</b> achievement points</h2>
<progressbar class="progress-striped active" type='success' max="1" value="game.achievementPercent()">{{game.achievementPercent()|percent:1}} complete</progressbar>
<p>Show
  <label><input type="checkbox" checked ng-model="form.show.earned" ng-change="onChangeVisibility()">earned</label>
  <label><input type="checkbox" checked ng-model="form.show.unearned" ng-change="onChangeVisibility()">unearned</label>
  <label><input type="checkbox" checked ng-model="form.show.masked" ng-change="onChangeVisibility()">masked</label>
  achievements
</p>

<p ng-if="game.upgrade('achievementbonus').count().greaterThan(0)">Your achievements grant a <b>+{{game.upgrade('achievementbonus').calcStats().prod|percent:{plusOne:true} }}</b> bonus to larva production.</p>

<ul class="list-unstyled">
  <li ng-repeat="achievement in game.achievements() | filter:isVisible:achievement" class="achieve">
    <div ng-if="state(achievement) == 'earned'" class="alert achievetext alert-success" ng-click="achieveclick(achievement)">
      <span class="achieveicon glyphicon glyphicon-ok" title="Someday I'll add real achievement icons"></span>
      <span class="achievepoints" ng-if="achievement.type.points > 0">+{{achievement.type.points|number}}</span>
      <span class="achieveicon-xs glyphicon glyphicon-ok" title="Someday I'll add real achievement icons"></span>
      <span class="achievepoints-xs" ng-if="achievement.type.points > 0">+{{achievement.type.points|number}}</span>
      <h3>{{achievement.type.label}}</h3>
      <p class="achievedesc">{{achievement.description()}}</p>
      <p><em>{{achievement.type.longdesc || '&nbsp;'}}</em></p>
      <span class="achievedate small" title="{{achievement.earnedAtMoment().format('dddd, MMMM Do YYYY, h:mm:ss a')}}">Earned {{achievement.earnedAtMoment().fromNow()}}</span>
    </div>
    <div ng-if="state(achievement) == 'unearned'" class="alert achievetext alert-warning" ng-click="achieveclick(achievement)">
      <span class="achieveicon glyphicon glyphicon-ok" title="Someday I'll add real achievement icons"></span>
      <span class="achievepoints" ng-if="achievement.type.points > 0">{{achievement.type.points|number}}</span>
      <span class="achieveicon-xs glyphicon glyphicon-ok" title="Someday I'll add real achievement icons"></span>
      <span class="achievepoints-xs" ng-if="achievement.type.points > 0">+{{achievement.type.points|number}}</span>
      <h3>{{achievement.type.label}}</h3>
      <p class="achievedesc">{{achievement.description()}}</p>
      <p><em>{{achievement.type.longdesc || '&nbsp;'}}</em></p>
      <div ng-if="achievement.hasProgress()" class="progress" style="margin-bottom:0">
        <progressbar class="progress-striped active" type='success' max="achievement.progressMax()" value="achievement.progressVal()">
          {{achievement.progressPercent()|percent:0}}<span ng-if="achievement.progressPercent().greaterThan(0.3)">:
            {{achievement.progressVal() | bignum:0}} of {{achievement.progressMax() | bignum:0}}
          </span>
        </progressbar>
    </div>
    <div ng-if="state(achievement) == 'masked'" class="alert achievetext alert-warning" ng-click="achieveclick(achievement)">
      <span class="achieveicon glyphicon glyphicon-question-sign" title="it is a mystery"></span>
      <span class="achievepoints" ng-if="achievement.type.points > 0">{{achievement.type.points|number}}</span>
      <span class="achieveicon-xs glyphicon glyphicon-question-sign" title="it is a mystery"></span>
      <span class="achievepoints-xs">+{{achievement.type.points|number}}</span>
      <h3>???</h3>
      <p class="achievedesc">???</p>
      <p><em>&nbsp;</em></p>
    </div>
  </li>
</ul>
