<div ng-if="unit.isBuyButtonVisible()">
  <div class="btn-group btn-group-justified" ng-class="{'hidden-xs':!!xsdropdown}">
    <a ng-if="!unit.isCostMet()" role="button" class="btn btn-default disabled">
      Can't buy
    </a>
    <a ng-if="unit.isCostMet()" role="button" class="btn btn-default" ng-click="commands.buyUnit({unit:unit, num:fullnum()})">
      Buy {{fullnum() * statTwin|bignum}}
    </a>
    <a ng-if="unit.maxCostMet(0.25) > 1" role="button" class="btn btn-default" ng-click="commands.buyMaxUnit({unit:unit, percent:0.25})">
      Buy {{unit.maxCostMet(0.25) * statTwin|bignum}}
    </a>
    <a ng-if="unit.maxCostMet() > 1" role="button" class="btn btn-default" ng-click="commands.buyMaxUnit({unit:unit, percent:1})">
      Buy {{unit.maxCostMet() * statTwin|bignum}}
    </a>
  </div>

  <div class="visible-xs btn-group" ng-if="xsdropdown">
    <a ng-if="!unit.isCostMet()" role="button" class="btn btn-default disabled">
      Can't buy
    </a>
    <a ng-if="unit.maxCostMet() == 1" role="button" class="btn btn-default" ng-click="commands.buyUnit({unit:unit, num:fullnum()})">
      Buy {{fullnum() * statTwin|bignum}}
    </a>
    <a ng-if="unit.maxCostMet() > 1" role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Buy up to {{unit.maxCostMet() * statTwin|bignum}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-if="unit.isCostMet()" role="button" class="btn btn-default" ng-click="commands.buyUnit({unit:unit, num:fullnum()})">
        Buy {{fullnum() * statTwin|bignum}}
      </a></li>
      <li><a ng-if="unit.maxCostMet(0.25) > 1" role="button" class="btn btn-default" ng-click="commands.buyMaxUnit({unit:unit, percent:0.25})">
        Buy {{unit.maxCostMet(0.25) * statTwin|bignum}}
      </a></li>
      <li><a ng-if="unit.maxCostMet() > 1" role="button" class="btn btn-default" ng-click="commands.buyMaxUnit({unit:unit, percent:1})">
        Buy {{unit.maxCostMet() * statTwin|bignum}}
      </a></li>
    </ul>
  </div>
</div>

<div class="row nogutter" ng-if="unit.isBuyButtonVisible() && false">
  <div class="nogutter" ng-class="{'col-sm-4':unit.maxCostMet() > 1}">
    <button ng-click="commands.buyUnit({unit:unit, num:fullnum()})" class="form-control unit-buy" ng-disabled="!unit.isCostMet()">
      Buy {{fullnum() * statTwin|bignum}}
    </button>
  </div>
  <div class="col-sm-4 nogutter" title="25% of maximum you can pay for" ng-show="unit.maxCostMet(0.25) > 1">
    <button ng-click="commands.buyMaxUnit({unit:unit, percent:0.25})" class="form-control unit-buy">
      Buy {{unit.maxCostMet(0.25) * statTwin|bignum}}
    </button>
  </div>
  <div class="nogutter" title="Maximum you can pay for" ng-class="{'col-sm-4':unit.maxCostMet(0.25) > 1, 'col-sm-8':!(unit.maxCostMet(0.25) > 1)}" ng-show="unit.maxCostMet() > 1">
    <button ng-click="commands.buyMaxUnit({unit:unit, percent: 1})" class="form-control unit-buy">
      Buy {{unit.maxCostMet() * statTwin|bignum}}
    </button>
  </div>
</div>
