<tabs></tabs>
<h1>Patch Notes</h1>
<p>See the <a analytics-on analytics-category="outbound" analytics-event="click" analytics-label="source code repository" target="_blank" href="https://github.com/erosson/swarm">source code repository</a> for a more thorough, but less readable, change history.</p><hr>
<div class="changelog">
<!-- template
<h4>0.0.1 <span>2009/09/09</span></h4>
<ul>
  <li>blah</li>
</ul>
-->

<h4>0.1.25 <span>2014/09/14</span></h4>
<ul>
  <li>Adjusted a late-game upgrade's visibility.</li>
  <li>Minor export format change.</li>
  <li>Minor sidebar formatting changes.</li>
</ul>
<h4>0.1.24 <span>2014/09/14</span></h4>
<ul>
  <li>Removed 0.1.22's grid UI.</li>
  <li>Wide screens are wider.</li>
  <li>Another UI overhaul: tabbed sidebar. We're getting closer to something I'm happy with; the UI should be more stable soon - thanks for being patient.</li>
  <li>If you love scrolling, enable "advanced unit data" in options and look for the all-units tab in the menu.</li>
</ul>
<h4>0.1.23 <span>2014/09/13</span></h4>
<ul>
  <li>Selecting a unit now continues to show that tab's unit table, instead of next/previous navigation.</li>
  <li>Unit selection no longer tries to fill the entire screen. (Oops.)</li>
</ul>
<h4>0.1.22 <span>2014/09/12</span></h4>
<ul>
  <li>Added an <a href="#/maingrid">experimental, unpolished new(er) interface</a>. Let me know what you think of it - it might replace tabs.</li>
</ul>
<h4>0.1.21 <span>2014/09/12</span></h4>
<ul>
  <li>Removed swipe navigation - no more accidentally moving to a different unit because you moved the mouse wrong.</li>
  <li>You'll now see an indicator <span class="glyphicon glyphicon-circle-arrow-up"></span> when you can afford a new upgrade. It should be hidden for unwanted upgrades - looking at a unit/buy-dropdown without buying an available upgrade will make the indicator for that type of upgrade disappear.</li>
  <li>Reformatted tables a bit.</li>
</ul>
<h4>0.1.20 <span>2014/09/11</span></h4>
<ul>
  <li>New UI! Units are now grouped into tabs instead of one long sidebar, among other changes.</li>
</ul>
<h4>0.1.19 <span>2014/09/10</span></h4>
<ul>
  <li>Fixed a bug with larva visibility.</li>
  <li>Altered some early units' visibility to better match the tutorial text.</li>
</ul>
<h4>0.1.18 <span>2014/09/08</span></h4>
<ul>
  <li>Some achievements are unmasked as you get closer to completing them.</li>
  <li>Fixed achievement link color.</li>
  <li>Masked achievements ("???") can now be shown/hidden.</li>
</ul>
<h4>0.1.17 <span>2014/09/07</span></h4>
<ul>
  <li>Achievements!</li>
  <li>Added some missing unit descriptions.</li>
</ul>
<h4>0.1.16 <span>2014/09/05</span></h4>
<ul>
  <li>Changelog link moved next to the other links. Maybe it'll be clearer that it's a link now, and people will actually see this page.</li>
  <li>Fixed cocoon typo.</li>
</ul>
<h4>0.1.15 <span>2014/09/05</span></h4>
<ul>
  <li>Added a new larva upgrade, Cocooning, required to buy a new unit, the Cocoon. If you're trying to save up lots of larvae, encase them in cocoons for safekeeping so you don't accidentally spend them. Cocoons should let you use the "buy max" button without fear.</li>
</ul>
<h4>0.1.14 <span>2014/09/04</span></h4>
<ul>
  <li>The game's non-https address should now load properly in Firefox.</li>
  <li>The options screen lets you opt out of Google Analytics.</li>
</ul>
<h4>0.1.13 <span>2014/09/04</span></h4>
<ul>
  <li>You can now specify a much higher number of units to buy at once - it doesn't max out at 1 sextillion anymore.</li>
</ul>
<h4>0.1.12 <span>2014/09/04</span></h4>
<ul>
  <li>Invisible backend changes, nothing to see here.</li>
</ul>
<h4>0.1.11 <span>2014/09/03</span></h4>
<ul>
  <li>Upgrade costs should have more consistent order.</li>
  <li>Nicer, more consistent number formatting.</li>
  <li>The page refreshes automatically when a newer version of the game is detected.</li>
</ul>
<h4>0.1.10 <span>2014/09/02</span></h4>
<ul>
  <li>Inject Larvae works again. Oops.</li>
</ul>
<h4>0.1.9 <span>2014/09/01</span></h4>
<ul>
  <li>When buying multiple units, their total cost is shown instead of the cost for a single unit.</li>
  <li>The cost of the maximum number of units you can afford can now be shown as a percentage. This is off by default, visit the options menu to enable it.</li>
</ul>
<h4>0.1.8 <span>2014/09/01</span></h4>
<ul>
  <li>Buy-exactly-n is back by popular demand.</li>
  <li>Units-bought counts include twins again. (Oops.)</li>
  <li>Top secret voodoo magic.</li>
</ul>
<h4>0.1.7 <span>2014/08/31</span></h4>
<ul>
  <li>You can now buy multiple upgrades with one click.</li>
  <li>There are now three buttons for buying units: buy 1, buy 25%, buy max. Buy-exactly-n is gone; it was awkward to use anyway.</li>
  <li>Removed the buy/select mode from the top. It wasn't widely used, and was confusing if accidentally changed.</li>
</ul>
<h4>0.1.6 <span>2014/08/31</span></h4>
<ul>
  <li>More invisible backend changes, nothing to see here.</li>
</ul>
<h4>0.1.5 <span>2014/08/31</span></h4>
<ul>
  <li>Unit list is better behaved with long unit names and text selection.</li>
  <li>Some invisible backend changes.</li>
</ul>
<h4>0.1.4 <span>2014/08/29</span></h4>
<ul>
  <li>Mid-tier meat-producing units now warn players who want to start their next tier very early. (High-tier units assume you already know better.)</li>
  <li>Selecting a unit now shows how fast it's being produced. Statistics page has this too.</li>
</ul>
<h4>0.1.3 <span>2014/08/29</span></h4>
<ul>
  <li>Giant Arachnomorphs have a valid price.</li>
  <li>Any save state with a broken (NaN) value should have it automatically reset to 0.</li>
</ul>
<h4>0.1.2 <span>2014/08/29</span></h4>
<ul>
  <li>Number formatting improved for numbers below 999 decillion.</li>
</ul>
<h4>0.1.1 <span>2014/08/28</span></h4>
<ul>
  <li>Column buy/buy-max buttons work.</li>
</ul>
<h4>0.1.0 <span>2014/08/28</span></h4>
<ul>
  <li>Initial public testing release. Here be dragons.</li>
</ul>
</div>
