<tabs></tabs>

<h2 class="contact-title"><span><a target="_blank" href="https://www.reddit.com/r/swarmsim">Contact the Swarm Simulator developer</a></span></h2>

<p><a target="_blank" href="https://www.reddit.com/r/swarmsim/submit?selftext=true">Posting</a> on the <a target="_blank" href="https://www.reddit.com/r/swarmsim">Swarm Simulator subreddit</a> is the best way to reach the developer! I read everything written there, even if I don't always reply.</p>

<p><small>Email is okay too - <a target="_blank" ng-href="{{mailtoUrl()}}">{{emailTo()}}</a></small></p>
