<tabs></tabs>

<h2 class="contact-title"><span><a target="_blank" href="https://www.reddit.com/r/swarmsim">Contact the Swarm Simulator developer</a></span></h2>

<p class="well"><a target="_blank" href="https://www.reddit.com/r/swarmsim/submit?selftext=true">Posting</a> on the <a target="_blank" href="https://www.reddit.com/r/swarmsim">Swarm Simulator subreddit</a> is the best way to reach the developer! I read everything written there, even if I don't always reply.</p>

<p><small><button class="btn btn-link" data-toggle="collapse" data-target=".collapseEmail">Email?</button></small></p>

<div class="collapse collapseEmail well">
  <p><b>I probably won't reply. Please post on Reddit instead.</b></p>
  <p>Swarm Simulator is run in one human's free time. I love you and your feedback, I really do - but email is stressful, and takes more of my limited time than you think.</p>
  <p><a target="_blank" ng-href="{{mailtoUrl()}}">{{emailTo()}}</a></p>
  <iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://swarmsim.freshdesk.com/widgets/feedback_widget/new?widgetType=embedded&formTitle=+&submitTitle=Send+Feedback&submitThanks=Thank+you.+Please+don't+expect+a+reply.&screenshot=no" scrolling="no" height="500px" width="100%" frameborder="0" ></iframe>
</div>
