<p>This is the debug view.</p>

<div>
  <button ng-click="session.save()">Save</button>
  <button ng-click="confirmReset()">Reset</button>
  <button ng-click="throwUp()" title="Test exception handler">Throw up</button>
</div>

<div>
  alter reified: <input type="datetime-local" ng-model="session.date.reified">
  alter reified: <input type="text" ng-model="session.date.reified">
</div>

<div>
  alter units: 
  <ul>
  <li ng-repeat="(name,val) in session.unittypes">
    <label>{{name}}: <input type="number" ng-model="session.unittypes[name]"></label>
  </li>
</div>

<ul>
  <li ng-repeat="dump in dumps">
    <h4>{{dump.title}}</h4>
    <code>{{dump.data}}</code>
  </li>
</ul>
