<tabs cur="cur.tab" />

<div class="tab-content">
  <div class="tab-pane active">
    <!--div class="table-responsive">
      <table class="table table-condensed unit-table">
        <tr ng-repeat="unit in cur.tab.units | filter:filterVisible track by unit.name">
          <td class="text-right"><a href="#/unit/{{unit.unittype.label}}">{{unit.count()|bignum:0}}</a></td>
          <td class="titlecase text-nowrap"><a href="#/unit/{{unit.unittype.label}}">{{unit.unittype.plural}}</a></td>
          <td><buyunit unit="unit" num="1" xsdropdown="true" /></td>
        </tr>
      </table>
    </div-->
          <!--td class="text-nowrap">+{{unit.velocity()|bignum}}/sec</td-->
    <ul class="list-unstyled unit-list text-nowrap">
      <!-- filthy hack to show achievements on larvae page -->
      <li class="row" ng-if="cur.tab.name == 'larva' && game.upgrade('achievementbonus').count() > 0">
        <div class="col-sm-6 col-xs-8"><a href="#/achievements" class="btn btn-link">
          {{game.achievementPoints()|bignum:0}} achievement points
        </a></div>
        <div class="col-sm-6 col-xs-4"><a href="#/achievements" class="btn btn-link">
          +{{(game.upgrade('achievementbonus').stats().prod - 1) * 100|number:0}}% larvae
        </a></div>
      </li>
      <li ng-repeat="unit in cur.tab.reversedUnits | filter:filterVisible track by unit.name" class="row">
        <div class="col-sm-4 col-xs-6"><a href="#/unit/{{unit.unittype.label}}" class="btn btn-link">
          {{unit.count()|bignum:0}} {{unit.count() == 1 ? unit.unittype.label : unit.unittype.plural}}
        </a></div>
        <div class="col-sm-2 hidden-xs"><a ng-if="unit.velocity() != 0" href="#/unit/{{unit.unittype.label}}" class="btn btn-link">
          +{{unit.velocity()|bignum}}/sec
        </a></div>
        <div class="hidden-xs col-sm-4" ng-if="options.showAdvancedUnitData()">
          <buyunitdropdown unit="unit" num="1"></buyunitdropdown>
        </div>
        <div class="visible-xs col-xs-6 text-right" ng-if="options.showAdvancedUnitData()">
          <buyunitdropdown unit="unit" num="1"></buyunitdropdown>
        </div>
      </li>
    </ul>

    <!--h1><a href="#/unit/{{cur.tab.leadunit.unittype.label}}">
    </a></h1-->
    <h1>
      {{cur.tab.leadunit.unittype.label}}
    </h1>
    <unit cur="cur.tab.leadunit"></unit>
  </div>
</div>
