<tabs cur="cur.tab"></tabs>

<div class="tab-content">
  <div class="tab-pane active table-responsive">
    <table class="table unit-table table-hover" style="width:auto">
      <!-- filthy hack to show achievements on larvae page -->
      <tr ng-if="cur.tab.name == 'larva' && game.upgrade('achievementbonus').count().greaterThan(0)">
        <td class="upgrade-indicator"></td>
        <td class="titlecase"><a href="#/achievements">achievement points</a></td>
        <td>{{game.achievementPoints()|bignum:0}}</td>
        <td>+{{game.upgrade('achievementbonus').calcStats().prod|percent:{plusOne:true} }} larvae</td>
      </tr>
      <tr ng-repeat="unit in cur.tab.sortUnits() | filter:filterVisible track by unit.name">
        <td class="upgrade-indicator" ng-click="click(unit)">
          <span ng-if="unit.isNewlyUpgradable()" title="New upgrade available" class="animif glyphicon glyphicon-circle-arrow-up"></span>
        </td>
        <td ng-click="click(unit)">
          <a ng-href="#{{cur.tab.url(unit)}}" class="titlecase">
            {{unit.unittype.label}} {{unit.suffix}}
          </a>
        </td>
        <td ng-click="click(unit)">
          {{unit.count()|bignum:0}}
        </td>
        <td ng-click="click(unit)">
          <span ng-if="!unit.velocity().isZero()">
          +{{unit.velocity().times(options.velocityUnit().mult)|bignum:1}}/{{options.velocityUnit().name}}
          </span>
        </td>
        <td ng-if="options.showAdvancedUnitData()">
          <buyunitdropdown unit="unit" num="1"></buyunitdropdown>
        </td>
      </tr>
    </table>
    <!-- without this, dropdown creates vertical scrollbar due to table-responsive. we want horiz scrollbars on small screens, not vert on big screens! -->
    <p style="padding-bottom:200px"></p>
  </div>
</div>

