<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="newsmodal-header">Swarm Simulator v1.1: Altruism, Branching, Characters</h4>
</div>
<div class="modal-body">
  <p>(Hi there, Github lurkers! Nothing in here is a promise until it's actually released.)</p>
  <ul>
    <li>Multiple characters: play more than one swarm on the same account! No need to juggle import/export codes, or play in more than one browser - just switch characters.</li>
    <li>Leagues: new swarms can choose to play under a new, experimental set of rules! TODO: rename leagues to something not-PoE; potential confusion with SC ladder leagues too. Universe? Parallel universe? Galaxy? <s>World?</s> Evolutionary branch? Genetic branch? (branching sounds cool, but could easily imply character class not realm...)<ul>
      <li>TODO: wow, tldr. capture this in screenshots, or summarize and link to the details.</li>
      <li>Once a swarm has been created, it cannot change its league until the league itself ends. You can have multiple swarms, each in a different league.</li>
      <li>Existing swarms are all in the <b>Open League</b>, and new swarms can choose to join the Open League. This league has no unusual rules, and will run <span title="* May not literally run forever">forever</span>.</li>
      <li>New swarms can choose to join the experimental <b>Genesis League</b>. Genesis (HAS SPECIAL RULES: TODO #536). If these rules are successful, they'll eventually be applied to other leagues!</li>
      <li>Genesis is a <i>temporary</i> league: when Genesis ends, all Genesis swarms will merge into the Open League. The end date for Genesis is not yet scheduled, but it will be announced at least two weeks in advance.</li>
      <li>Genesis is just the beginning - we're planning more content for leagues in the future!</li>
    </ul></li>
    <li>New in-app purchases! Generous swarm leaders can provide an energy-related boost to all online players <i>except the buyer</i>. Your name will be announced to everyone who receives your purchase, or you can choose to help out anonymously. Other players, and the Swarm Simulator developer, will appreciate your support! TODO: give these mtx a name; screenshot</li>
    <li>New achievements!</li>
  </ul>
</div>
