<div ng-show="state === 'success' && !!news.length" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Swarm Simulator News</h4>
      </div>
      <div class="modal-body">
<ul class="list-unstyled">
  <li ng-repeat="news in news track by news.id" class="well">
    <h3>{{news.title}} <small>{{news.date.format('LLLL')}}</small></h3>
    <div>{{news.text}}</div>
  </li>
</ul>
      </div>
      <div class="modal-footer">
        <a href="#/news-archive" ng-click="close()">News Archive</a>
      </div>
    </div>
  </div>
</div>
