<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="newsmodal-header">Swarm Simulator v1.1 (TODO name the patch)</h4>
</div>
<div class="modal-body">
  <p>(Hi there, Github lurkers! Nothing in here is a promise until it's actually released.)</p>
  <ul>
    <li>Mutagen acts as a percent-boost to larvae, instead of flat production! TODO: screenshot</li>
    <li>Hatchery, territory, and clone mutations are much stronger!</li>
    <li>Less tedious Swarmwarp micromanagement! Swarmwarp mutations increase both cost and power. No change in time-warped-per-energy-spent. TODO: screenshot, not-intended-as-a-nerf spiel</li>
    <li>Rigged the mutagen dice a little. Long streaks of hatchery/expansion purchases with no mutagen should be much less likely!</li>
    <li>New achievements!</li>
    <li>New mtx - buying a mtx benefits all online players! TODO: give these mtx a name; screenshot</li>
  </ul>
</div>
