<p>The public test server is now offline.</p>
<p>v1.0 is now on <a href="http://swarmsim.com">the production server</a>. Enjoy!</p>
<div ng-if="achieved" style="font-style:italic">
  <p>Thanks for your help testing! You should automatically receive the achievement "Public Test v1.0".</p>
  <p>Missed it? Double-check your <a href="http://swarmsim.com/#/achievements">achievements screen</a>, and make sure the domain <b>swarmsim-publictest.github.io</b> isn't blocked by any privacy/ad-blocking browser extensions. Otherwise, <a href="{{feedbackUrl()}}">contact the developer</a>.</p>
</div>
