<tabs></tabs>

<div class="container">
  <h1>Options</h1>
  <div class="form-group">
    <label class="control-label">
      <span class="glyphicon glyphicon-eye-open"></span> Show advanced unit data
      <input type="checkbox" ng-init="form.showadvancedunitdata=options.showAdvancedUnitData()" ng-model="form.showadvancedunitdata" ng-change="options.showAdvancedUnitData(form.showadvancedunitdata)">
    </label>
    <p>Show more detailed numbers for each of your units.</p>
  </div>
  <div class="form-group">
    <div><label class="control-label"><span class="glyphicon glyphicon-barcode"></span> Duration format</label></div>
    <label style="font-weight:normal"><input type="radio" ng-init="form.durationFormat=options.durationFormat()" ng-model="form.durationFormat" value="human" ng-change="options.durationFormat(form.durationFormat)">Human</input></label>
    <label style="font-weight:normal"><input type="radio" ng-model="form.durationFormat" value="full" ng-change="options.durationFormat(form.durationFormat)" ng-init="form.notation=options.notation()">Full</input></label>
    <label style="font-weight:normal"><input type="radio" ng-model="form.durationFormat" value="abbreviated" ng-change="options.durationFormat(form.durationFormat)">Abbreviated</input></label>
    <p>Examples:  
    <label style="font-weight:normal" ng-repeat="sample_duration in duration_examples">{{sample_duration |duration}},&nbsp; </label> etc...
</p>

  </div>

  <div class="form-group">
    <label class="control-label" for="fps"><span class="glyphicon glyphicon-film"></span> Maximum frames per second</label>
    <input type="range" class="form-control" id="fps" min="1" max="60" step="1" ng-init="form.fps=options.fps()" ng-model="form.fps" ng-change="options.fps(form.fps)">
    <!--button ng-click="options.reset('fps');form.fps=options.fps()">Reset</button-->
    <p>{{options.fps()|number}} fps. Time between frames: {{options.fpsSleepMillis()|number:0}}ms</p>
    <p>Reduce this setting if the game is slowing down your computer. This doesn't affect gameplay; your units won't produce resources any faster or slower.</p>
  </div>

  <div class="form-group">
    <div><label class="control-label"><span class="glyphicon glyphicon-barcode"></span> Number format</label></div>
    <label style="font-weight:normal"><input type="radio" ng-model="form.notation" value="standard-decimal" ng-change="options.notation(form.notation)">Standard decimal</input></label>
    <label style="font-weight:normal"><input type="radio" ng-model="form.notation" value="scientific-e" ng-change="options.notation(form.notation)" ng-init="form.notation=options.notation()">Scientific-E</input></label>
    <label style="font-weight:normal"><input type="radio" ng-model="form.notation" value="hybrid" ng-change="options.notation(form.notation)">Hybrid</input></label>
    <label style="font-weight:normal"><input type="radio" ng-model="form.notation" value="engineering" ng-change="options.notation(form.notation)">Engineering</input></label>
    <p>Examples: {{123456789|longnum}}, {{123456789|bignum}}, {{123456789e+30|longnum}}, {{123456789e+30|bignum}}</p>
  </div>

  <div class="form-group">
    <div><label class="control-label"><span class="glyphicon glyphicon-barcode" ng-init="form.velocityUnit=options.velocityUnit().name"></span> Velocity format</label></div>
    <label ng-repeat="vu in options.VELOCITY_UNITS.list" style="font-weight:normal" class="titlecase">
      <input type="radio" ng-model="form.velocityUnit" value="{{vu.name}}" ng-change="options.velocityUnit(form.velocityUnit)">{{vu.plural}}</input>
    </label>
    <p>Example: {{10 * options.velocityUnit().mult|longnum}} meat/{{options.velocityUnit().name}}</p>
  </div>
  <div class="form-group" ng-if="isDropbox">
    <!-- glyphicons are normally 14x14, but dropbox logo comes with some extra padding -->
    <div><label class="control-label"><img src="images/dropbox-logos_dropbox-glyph-black.png" style="height:18px;width:18px;">Sync saved data with other devices <span class="envalert">(beta)</span></label></div>
    <div ng-cloak ng-controller="DropboxdatastoreCtrl">
      <input ng-if="!isAuth()" type="image" class="btn btn-default" ng-click="droplogin()" alt="Log in with Dropbox" title="Log in with Dropbox" src="images/dropbox-logos_dropbox-logotype-blue.png" style="height:30%;width:30%;">
      <!--button ng-if="!isAuth()" class="btn btn-default" ng-click="droplogin()">
        <img alt="Log in with Dropbox" title="Log in with Dropbox" src="images/dropbox-logos_dropbox-logotype-blue.png" style="height:30%;width:30%;display:inline">
      </button-->
      <div ng-if="isAuth()">
        <img src="images/dropbox-logos_dropbox-vertical-blue.png" style="float:left">
        <div><button class="btn btn-default" id="dropboxlogout" ng-click="droplogout()">Logout</button></div>
        
        <div><button class="btn btn-default" ng-click="addSavegame()">Export saved data to Dropbox</button></div>
        <p ng-if="!savedgame">Nothing exported to Dropbox yet.</p>
        <div ng-if="savedgame">
          <div><button class="btn btn-default" ng-click="importSavegame()">Import saved data (replaces your current game)</button></div>
          <div><button class="btn btn-default" ng-click="deleteSavegame()">Delete saved data from Dropbox</button></div>
          <!-- TODO moment-formatted -->
          <p>Last exported to Dropbox {{moment(savedgame.get('created')).fromNow()}}.</p>
        </div>

        <!-- Let's stick with one saved game for now - less confusing, less exploitable.
        <form id="savegame-form" ng-submit="addSavegame()">
          <input id="new-savegame" placeholder="savegame name" ng-model="newSavegame">
          <input type="submit" id="save" value="Save" />
        </form>
        <p>{{savedgames.length}} saved games:</p>
        <ul>
          <li ng-repeat="savegame in savedgames">
            <button ng-click="deleteSavegame(savegame);">Delete</button>
            <button ng-click="importSavegame(savegame);">Import</button>
            {{savegame.get('name')}} created: {{savegame.get('created') }}
          </li>
        </ul-->
        <div style="clear:left"></div>
      </div>
    </div>
  </div>

  <div ng-class="{'form-group':true,'has-success':!!imported.success,'has-error':!!imported.error,'has-feedback':!!imported.success || !!imported.error}">
    <label class="control-label" for="export"><span class="glyphicon glyphicon-download-alt"></span> Import/export saved data</label>
    <input type="text" class="form-control" id="export"  ng-init="form.export=session.exportSave()" ng-model="form.export" ng-change="importSave(form.export)" ng-click="select($event)">
    <span ng-show="!!imported.success" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!!imported.error" class="glyphicon glyphicon-remove form-control-feedback"></span>
    <div class="alert alert-warning" ng-cloak ng-if="isKongregate() && !game.session.kongregate">
      This saved data was imported from outside Kongregate. You can still play it on Kongregate, but you won't appear on Kongregate's leaderboards. Start a new game on Kongregate to be eligible for the leaderboards.
    </div>
    <p>To export, click the text above and copy (ctrl-c). To import, click the text and paste (ctrl-v) your exported data.</p>
    <p>It's normal for imported saves to have more units than you exported with. Your swarm continues its work even after saved data is exported/before it's imported.</p>
  </div>
  <div class="form-group">
    <button class="resetalert" ng-click="confirmReset()">
      <span class="glyphicon glyphicon-warning-sign"></span>
      Wipe all saved data and start over
    </button>
    <p title="{{game.dateStarted().toString()}}">You started playing {{game.momentStarted().fromNow()}}<span ng-if="env.showSkipped && game.totalSkippedMillis() > 0"> (skipped an extra {{game.totalSkippedDuration().humanize()}})</span>.</p>
  </div>
  <div class="form-group">
    <label class="control-label"><span class="glyphicon glyphicon-cloud-upload"></span> Analytics</label>
    <p>Swarm Simulator, like many websites, uses Google Analytics to track actions you take while playing. We use this data to improve the game. Feel free to <a target="_blank" href="https://tools.google.com/dlpage/gaoptout" title="I thought about asking Analytics to track how many people click this link, but decided not to.">opt out of Google Analytics</a>.</p>
    <p><a target="_blank" href="http://www.google.com/policies/privacy/partners/">How Google uses data when you use our partners' sites or apps</a></p>
  </div>
  <div class="form-group">
    <div><label class="control-label"><span class="glyphicon glyphicon-circle-arrow-down"></span> Play an older version</label></div>
    <p>Not ready to lose your saved progress yet? Return to an older version of the game. These are no longer updated nor supported.</p>
    <ul>
      <li role="presentation"><a href="archive/0.1.37">Version 0.1.37</a></li>
    </ul>
  </div>
</div>
