<tabs cur="cur.tab"></tabs>

<div class="tab-content" ng-swipe-left="swipe(cur.prev)" ng-swipe-right="swipe(cur.next)">
  <div class="tab-pane active">
    <ul class="nav nav-pills nav-justified text-nowrap">
      <li><a ng-href="#/unit/{{cur.prev.unittype.label}}" ng-if="cur.prev && cur.prev.isVisible()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <!--span class="glyphicon glyphicon-backward"></span-->
        {{cur.prev.count() | bignum:0}} {{cur.prev.unittype.plural}}
      </a></li>
      <li class="hidden-xs"><a ng-href="#/tab/{{cur.tab.name}}">
        <span class="glyphicon glyphicon-eject"></span>
        Back
      </a></li>
      <li><a ng-href="#/unit/{{cur.next.unittype.label}}" ng-if="cur.next && cur.next.isVisible()">
        {{cur.next.count() | bignum:0}} {{cur.next.unittype.plural}}
        <span class="glyphicon glyphicon-chevron-right"></span>
        <!--span class="glyphicon glyphicon-forward"></span-->
      </a></li>
    </ul>

    <h1>{{cur.unittype.label}}</h1>
    <unit cur="cur"></unit>
  </div>
</div>
