<div class="row">
  <div class="col-sm-8 col-sm-push-4">
    <div ng-if="!selected">
      <p if="welcomeBackText()">{{welcomeBackText()}}</p>
      <p>{{emptyText()}}</p>
    </div>
    <div ng-if="selected">
      <h2>{{selected.unittype.label}}</h2>
      <p title="{{selected.unittype.lol}}">{{selected.unittype.description}}</p>
      <hr>
      <p><ng-pluralize count="selected.count()"
        when="{'0':'You own no {{selected.unittype.plural}}.',
               'one':'You own 1 {{selected.unittype.label}}.',
               'other':'You own {{selected.count()|number:0}} {{selected.unittype.plural}}.'}"></ng-pluralize>
      <div ng-if="selected.prod.length">
        <p>
          Each produces
          <span ng-repeat="prod in selected.prod">
            <span ng-if="!$first && !$last">, </span><span ng-if="!$first && $last"> and </span>
            <span ng-if="prod.val < 0.2 && prod.val > 0">1/{{1/prod.val|number:0}} of a {{prod.unit.unittype.label}}</span>
            <span ng-if="prod.val <= 0 || prod.val >= 0.2">{{decimals(prod.val)|number}} <ng-pluralize count="prod.val" when="{'one':prod.unit.unittype.label, 'other':prod.unit.unittype.plural}"></ng-pluralize></span>
          </span>
          per second.
        </p>
        <p ng-if="selected.count() > 0">
          In total, they produce
          <span ng-repeat="(name, val) in selected.totalProduction()">
            <span ng-if="!$first && !$last">, </span><span ng-if="!$first && $last"> and </span>
            <span ng-if="val < 0.2 && val > 0">1/{{1/val|number:0}} of a {{game.unit(name).unittype.label}}</span>
            <span ng-if="val <= 0 || val >= 0.2">{{decimals(val)|number}} <ng-pluralize count="val" when="{'one':game.unit(name).unittype.label, 'other':game.unit(name).unittype.plural}"></ng-pluralize></span>
          </span>
          per second.
        </p>
      </div>
      <hr>
      <div ng-if="!selected.unbuyable">
        <!--button ng-click="selected.buy()" class="unit-buy" ng-if="!selected.cost.length">Gather</button-->
        <div ng-if="selected.cost.length">
          <!--div class="form-group">
            <label for="buyone">Buy one</label>
            <button id="buyone" ng-click="selected.buy(1)" class="form-control unit-buy" ng-disabled="!selected.isCostMet()">
              <span ng-repeat="cost in selected.cost">
                <span ng-class="{costNotMet:cost.val > cost.unit.count()}">{{cost.val|bignum}} {{cost.unit.unittype.plural}}</span><span ng-if="!$last">, </span>
              </span>
            </button>
          </div-->
          <div class="form-group">
            <label for="buynum">Buy <input type="number" ng-model="mainBuynum" min="1"></label>
            <button id="buynum" ng-click="selected.buy(mainBuynum)" class="form-control unit-buy" ng-disabled="!selected.isCostMet()">
              <span ng-repeat="cost in selected.cost">
                <span ng-class="{costNotMet:cost.val*mainBuynum > cost.unit.count()}">{{cost.val*mainBuynum|bignum}} {{cost.unit.unittype.plural}}</span><span ng-if="!$last">, </span>
              </span>
            </button>
          </div>
          <div class="form-group">
            <label for="buymax">Buy {{selected.maxCostMet()|number:0}} (max)</label>
            <button id="buymax" ng-click="selected.buyMax()" class="form-control unit-buy" ng-disabled="!selected.isCostMet()">
              <span ng-repeat="cost in selected.cost" ng-if="selected.isCostMet()">
                <span>{{selected.maxCostMet()*cost.val|bignum}} {{cost.unit.unittype.plural}}</span><span ng-if="!$last">, </span>
              </span>
              <span ng-if="!selected.isCostMet()" title="Save your pennies.">free</button>
            </button>
          </div>
        </div>
      </div>
      <div title="TODO: implement upgrades">No upgrades available.</div>
      <p><a ng-click="select(null)">Back</a></p>
    </div>
  </div>
  <div class="col-sm-4 col-sm-pull-8" ng-class="{'hidden-xs':!!selected}">
    <div>
      <label class="radio-inline"><input type="radio" ng-model="action" value="select">Select</label>
      <label class="radio-inline"><input type="radio" ng-model="action" value="buy">Buy <input type="number" ng-model="buynum" ng-change="action='buy'" min="1"></label>
      <label class="radio-inline"><input type="radio" ng-model="action" value="buyMax">Buy max</label>
      <!--label><input type="radio" ng-model="action" value="buymax">Buy max</label-->
    </div>
    <ul ng-repeat="group in [0,1,2,3]" ng-if="visibleUnitGroup(group).length > 0" class="nav nav-pills nav-stacked unitgroup">
      <li ng-repeat="unit in visibleUnitGroup(group)" ng-class="{active:selected===unit,costNotMet:!unit.isCostMet()}">
        <a ng-click="click(unit)" data-toggle="dropdown" title="{{costText(unit)}}">
          <span class="titlecase">{{unit.unittype.label}}</span>
          <div style="float:right" class="badge">{{unit.count() | bignum}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
