<div class="row">
  <div class="col-sm-8 col-sm-push-4">
    <div ng-if="!selected">
      <p if="welcomeBackText()">{{welcomeBackText()}}</p>
      <p>{{emptyText()}}</p>
    </div>
    <div ng-if="selected">
      <h2>{{selected.unittype.label}}</h2>
      <p title="{{selected.unittype.lol}}">{{selected.unittype.description}}</p>
      <hr>
      <p><ng-pluralize count="selected.count()"
        when="{'0':'You own no {{selected.unittype.plural}}.',
               'one':'You own 1 {{selected.unittype.label}}.',
               'other':'You own {{selected.count()|number:0}} {{selected.unittype.plural}}.'}"></ng-pluralize>
      <div ng-if="selected.prod.length">
        <p>
          Each produces
          <span ng-repeat="prod in selected.prod">
            <span ng-if="!$first && !$last">, </span><span ng-if="!$first && $last"> and </span>{{prod.val|number:0}}
            <ng-pluralize count="prod.val" when="{'one':prod.unit.unittype.label, 'other':prod.unit.unittype.plural}"></ng-pluralize>
          </span>
          per second.
        </p>
        <p ng-if="selected.count() > 0">
          In total, they produce
          <span ng-repeat="(name, val) in selected.totalProduction()">
            <span ng-if="!$first && !$last">, </span><span ng-if="!$first && $last"> and </span>{{val|number:0}}
            <ng-pluralize count="val" when="{'one':game.unit(name).unittype.label, 'other':game.unit(name).unittype.plural}"></ng-pluralize>
          </span>
          per second.
        </p>
      </div>
      <hr>
      <div ng-if="!selected.unbuyable">
        <!--button ng-click="selected.buy()" class="unit-buy" ng-if="!selected.cost.length">Gather</button-->
        <div ng-if="selected.cost.length">
          <div>
            Buy one for
            <button ng-click="selected.buy(1)" class="unit-buy" ng-disabled="!selected.isCostMet()">
              <span ng-repeat="cost in selected.cost">
                <span ng-class="{costNotMet:cost.val > cost.unit.count()}">{{cost.val|bignum}} {{cost.unit.unittype.plural}}</span><span ng-if="!$last">, </span>
              </span>
            </button>
          </div>
          <div>
            Buy <input type="number" ng-model="mainBuynum" min="1"> for 
            <button ng-click="selected.buy(mainBuynum)" class="unit-buy" ng-disabled="!selected.isCostMet()">
              <span ng-repeat="cost in selected.cost">
                <span ng-class="{costNotMet:cost.val*mainBuynum > cost.unit.count()}">{{cost.val*mainBuynum|bignum}} {{cost.unit.unittype.plural}}</span><span ng-if="!$last">, </span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div title="TODO: implement upgrades">No upgrades available.</div>
      <p><a ng-click="select(null)">Back</a></p>
    </div>
  </div>
  <div class="col-sm-4 col-sm-pull-8" ng-class="{'hidden-xs':!!selected}">
    <div>
      Action:
      <label><input type="radio" ng-model="action" value="select">Select</label>
      <label><input type="radio" ng-model="action" value="buy">Buy <input type="number" ng-model="buynum" ng-change="action='buy'" min="1"></label>
      <!--label><input type="radio" ng-model="action" value="buymax">Buy max</label-->
    </div>
    <ul ng-repeat="group in [0,1,2,3]" ng-if="visibleUnitGroup(group).length > 0" class="nav nav-pills nav-stacked unitgroup">
      <li ng-repeat="unit in visibleUnitGroup(group)" ng-class="{active:selected===unit,costNotMet:!unit.isCostMet()}">
        <a ng-click="click(unit)" data-toggle="dropdown" title="{{costText(unit)}}">
          <span class="titlecase">{{unit.unittype.label}}</span>
          <div style="float:right" class="badge">{{unit.count() | bignum}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
