<div class="form-group">
  <label for="playfab-email">Email</label>
  <input type="text" name="playfab-email" ng-model="form.email" class="form-control"></label>
</div>
<div class="form-group">
  <label for="playfab-password">Password</label>
  <input type="password" name="playfab-password" ng-model="form.password" class="form-control"></label>
</div>
<button type="submit" class="btn btn-info form-control" ng-click="runLogin()">Log in</button>

<a href="javascript:" ng-click="setActive('forgot')">Forgot your password?</a>
