<div class="form-group">
  <label for="playfab-email">Email</label>
  <input type="text" name="playfab-email" ng-model="form.email" class="form-control">
  <div>{{error.email}}</div>
</div>
<div class="form-group">
  <label for="playfab-password">Password</label>
  <input type="password" name="playfab-password" ng-model="form.password" class="form-control">
  <div>{{error.password}}</div>
</div>
<div>{{error.main}}</div>
<!--label>
  <input type="checkbox" name="playfab-remember" ng-model="form.remember">
  Remember me
</label-->
<button type="submit" class="btn btn-info form-control" ng-click="runLogin()">Log in</button>

<a href="javascript:" ng-click="setActive('forgot')">Forgot your password?</a>
