<div class="form-group">
  <label for="playfab-email">Email</label>
  <input type="text" name="playfab-email" ng-model="form.email" class="form-control">
  <div>We'll only send you account recovery/lost password emails.</div>
  <div>{{error.email}}</div>
</div>
<div class="form-group">
  <label for="playfab-password">Password</label>
  <input type="password" name="playfab-password" ng-model="form.password" class="form-control">
  <input type="password" name="playfab-password2" ng-model="form.password2" class="form-control">
  <div ng-if="form.password != form.password2">Passwords do not match.</div>
  <div>{{error.password}}</div>
</div>
<div>{{error.main}}</div>
<!--label>
  <input type="checkbox" name="playfab-remember" ng-model="form.remember">
  Remember me
</label-->
<button type="submit" ng-class="{disabled: form.password != form.password2}" class="btn btn-info form-control" ng-click="runSignup()">Sign up</button>
